name: "Publish"

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
    branches:
      - main
    paths:
      - config.yaml

concurrency:
  group: publish-${{ github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  
jobs:
  build:
    name: Publish build
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Login to Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish build
        uses: home-assistant/builder@master
        with:
          args: |
            --amd64 \
            --aarch64 \
            --target . \
            --docker-hub-check \
            --docker-hub "${{ env.REGISTRY }}/mikeomat"
